html {
    font-size: 62.5%;
}
body {
    margin:0;
    background-color: #0d0d0d;
     font-family: 'Fjalla One', sans-serif;
}
header, main, form {
    display:flex;
    justify-content: center;
    align-items: center;
}
i {
    color:#f2f2f2;
    font-size: 5rem;
    margin: 0 2rem;
}
#feu,#snow,#arrowup,#arrowdown {
    display:none;
}
.fa-snowflake {
    color:#99e6ff;
}
.fa-fire-flame-curved {
    color:#ff471a;
}
h1 {
    font-size: 5rem;
    color: #f2f2f2;
}
footer,header {
    min-height:200px;
}
form {
    flex-direction: column;
    border: 5px solid #660066;
    background-color: #f2f2f2;
    margin-right:2rem;
    border-radius:5rem;
}

input, label {
    font-size: 2rem;
}
div {
    flex-direction:column;
}
p {
    font-size: 3rem;
    color:#f2f2f2;
}
input {
    margin:2rem;
    border-radius:2rem;
    border-color:#f2f2f2;
}
input,label {
    padding:1rem;  
}
input:hover, input:focus {
    background-color:#f2f2f2;
    color:#0d0d0d;
}

.arrowup {
    animation-name: haut;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes haut {
    from { transform: translateY(100px);}
    to { transform:translateY(-100px)}
}
.arrowdown {
    animation-name:bas;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes bas {
    from { transform: translateY(-100px);}
    to { transform:translateY(100px)}
}
.snowsnow {
    animation-name: Neige;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes Neige {
    from { transform: rotateZ(0);}
    to { transform:rotateZ(360deg)}
}
.firefire {
    animation-name: feu;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes feu {
    0% { opacity:1 ;}
    20% { opacity:0.8;}
    40% { opacity:1;}
    60% { opacity:0.8;}
    80% { opacity:1;}
    90% { opacity:0.8;}
    100% { opacity:1;}
}